:host {
  --app-primary-color: #4285f4;
  --app-secondary-color: black;
  //--app-drawer-width: 75px;

  display: block;
}

.side-menu {
  border: 2px solid #eeeeee;
}

app-drawer {
  --app-drawer-content-container: {
    box-shadow: 1px 0 2px 1px rgba(0,0,0,0.18);
  }
  --app-drawer-scrim-background: rgba(179, 157, 219, 0.5);
}

app-header {
  color: #fff;
  background-color: var(--app-primary-color);

  paper-icon-button {
    --paper-icon-button-ink-color: #fff;
  }
}

.drawer-list {
  margin: 0 20px;

  a {
    display: block;
    padding: 0 16px;
    text-decoration: none;
    color: var(--app-secondary-color);
    line-height: 40px;

    &.iron-selected {
      color: black;
      font-weight: bold;
    }
  }
}
