app-header-layout {
  height: 100%;
  overflow-y: auto;

  app-header {
    background-color: #0568ae;
    color: #fff;
  }
  paper-icon-button {
    --paper-icon-button-ink-color: white;
  }
  app-drawer-layout:not([narrow]) [drawer-toggle] {
    display: none;
  }
}
