:host {
  display: block;
}

app-header-layout {
  height: 100%;
  overflow-y: auto;

  app-header {
    color: #fff;
    background-color: #0568ae;

    paper-icon-button {
      --paper-icon-button-ink-color: #fff;
    }
  }

  app-drawer {
    --app-drawer-content-container: {
      box-shadow: 1px 0 2px 1px rgba(0,0,0,0.18);
    }
    --app-drawer-scrim-background: rgba(179, 157, 219, 0.5);
  }
}
