section {
  height: 100%;
  overflow-y: auto;
  border-radius: 2px;
  margin: 8px 10px 8px 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);

  div.data-list {
    padding: 10px;

    paper-card {
      margin: 8px 0 0;
      font-size: 14px;
      text-transform: capitalize;
    }

    div.icon-list {
      display: block;
      padding: 8px 8px 8px 18px;
      font-size: 14px;
    }
  }

  app-header {
    color: #fff;
    background-color: #0568ae;

    app-toolbar {
      height: 50px;
      font-size: 16px;
    }
  }

  paper-dialog {
    width: 600px;

    .database-form {
      margin-left: 30px;
    }
  }
}

